/* Whole page */
body {
    background-color: #111;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 40px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1b1b1b;
    padding: 20px;
}

.nav-link{
    color: white;
    text-decoration: none;
    margin-left: 25px;
}

.nav-link:hover {
    color: #00aaff;
}

/* Main heading */
.hero-title {
    color: #00aaff;
    text-align: center;
    margin-top: 50px;
}

/* Subheadings */
.sub-heading {
   text-align: center;
   color:#00aaff;
   font-size: 32px;
   margin-top: 50px; 
}

/* Paragraphs */
p {
    text-align: center;
    font-size: 18px;
    max-width: 700px;
    margin: 20px auto;
    line-height: 1.6;
}

/* Bullet Point Lists */
ul {
    max-width: 800px;
    margin: 20px auto;
    font-size: 18px;
    line-height: 1.8;
    list-style-position: inside;
}
